body{
  display: grid;
  justify-items: center;
}
.container{
  display: grid;
  grid-template-columns: repeat(2, 300px);
  border: black 1px solid ;
  height: 90vh;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
  overflow: auto;
}
.list-group-item{
  cursor: pointer;
}